/* line 5, ../sass/style.scss */
.input-row {
  margin-top: 30px;
  margin-bottom: 20px;
}

/* line 55, ../sass/style.scss */
a {
  text-decoration: none;
  color: #78C3AE;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

/* line 62, ../sass/style.scss */
a:hover {
  color: #78C3AE;
}

/* line 67, ../sass/style.scss */
section {
  padding: 20px;
}

/* line 72, ../sass/style.scss */
footer {
  border-radius: 3px;
  border-color: #000;
  background-color: #FFFFFF;
  text-align: center;
  padding: 10px;
  border-top: 1px solid #CBCBCB;
}

/* line 81, ../sass/style.scss */
body {
  background-color: #FFFFFF !important;
}

/* line 98, ../sass/style.scss */
.topbar {
  border-color: #ffffff;
  background-color: #FFFFFF;
}

/* line 133, ../sass/style.scss */
#landingpage-container *, #landingpage-container *:before, #landingpage-container *:after {
  box-sizing: border-box;
}
/* line 137, ../sass/style.scss */
#landingpage-container html {
  overflow-y: scroll;
}
/* line 142, ../sass/style.scss */
#landingpage-container a {
  text-decoration: none;
  color: #78C3AE;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
/* line 148, ../sass/style.scss */
#landingpage-container a:hover {
  color: #78C3AE;
}
/* line 152, ../sass/style.scss */
#landingpage-container .login-info {
  padding: 40px;
  margin: 40px auto;
  border-radius: 4px;
}
/* line 159, ../sass/style.scss */
#landingpage-container .form {
  background: #FFFFFF;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}
/* line 165, ../sass/style.scss */
#landingpage-container h1 {
  color: #2F3131;
  font-weight: 300;
  margin: 0 0 40px;
}
/* line 171, ../sass/style.scss */
#landingpage-container label {
  position: absolute;
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
/* line 183, ../sass/style.scss */
#landingpage-container label .req {
  margin: 2px;
  color: #17949c;
}
/* line 188, ../sass/style.scss */
#landingpage-container label.active {
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
/* line 194, ../sass/style.scss */
#landingpage-container label.active .req {
  opacity: 0;
}
/* line 198, ../sass/style.scss */
#landingpage-container label.highlight {
  color: #ffffff;
}
/* line 202, ../sass/style.scss */
#landingpage-container input, #landingpage-container textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #2F3131;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
/* line 215, ../sass/style.scss */
#landingpage-container input:focus, #landingpage-container textarea:focus {
  outline: 0;
  border-color: #17949c;
}
/* line 220, ../sass/style.scss */
#landingpage-container textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}
/* line 226, ../sass/style.scss */
#landingpage-container .button {
  background-color: #D24136;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 17px;
  padding: 9px 29px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #D24136;
}
/* line 246, ../sass/style.scss */
#landingpage-container .button:hover {
  background-color: #EBFF33;
}
/* line 249, ../sass/style.scss */
#landingpage-container .button:active {
  position: relative;
  top: 1px;
}
/* line 254, ../sass/style.scss */
#landingpage-container .button-block {
  display: block;
  width: 100%;
}
/* line 259, ../sass/style.scss */
#landingpage-container .forgot {
  margin-top: -20px;
  text-align: right;
}
/* line 264, ../sass/style.scss */
#landingpage-container #lpgreet {
  background-color: #FFFFFF;
}
/* line 265, ../sass/style.scss */
#landingpage-container #lpinfo {
  background-color: #E3D6C6;
}

/* line 302, ../sass/style.scss */
.panel {
  margin: 50px !important;
}

/* line 311, ../sass/style.scss */
#login-container *, #login-container *:before, #login-container *:after {
  box-sizing: border-box;
}
/* line 315, ../sass/style.scss */
#login-container html {
  overflow-y: scroll;
}
/* line 320, ../sass/style.scss */
#login-container a {
  text-decoration: none;
  color: #78C3AE;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
/* line 326, ../sass/style.scss */
#login-container a:hover {
  color: #78C3AE;
}
/* line 330, ../sass/style.scss */
#login-container .login-info {
  padding: 40px;
  margin: 40px auto;
  border-radius: 4px;
}
/* line 337, ../sass/style.scss */
#login-container .form {
  background: #FFFFFF;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}
/* line 343, ../sass/style.scss */
#login-container h1 {
  text-align: center;
  color: #2F3131;
  font-weight: 300;
  margin: 0 0 40px;
}
/* line 350, ../sass/style.scss */
#login-container label {
  position: absolute;
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
/* line 362, ../sass/style.scss */
#login-container label .req {
  margin: 2px;
  color: #17949c;
}
/* line 367, ../sass/style.scss */
#login-container label.active {
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
/* line 373, ../sass/style.scss */
#login-container label.active .req {
  opacity: 0;
}
/* line 377, ../sass/style.scss */
#login-container label.highlight {
  color: #ffffff;
}
/* line 381, ../sass/style.scss */
#login-container input, #login-container textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #2F3131;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
/* line 394, ../sass/style.scss */
#login-container input:focus, #login-container textarea:focus {
  outline: 0;
  border-color: #17949c;
}
/* line 399, ../sass/style.scss */
#login-container textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}
/* line 404, ../sass/style.scss */
#login-container .field-wrap {
  position: relative;
  margin-bottom: 40px;
}
/* line 410, ../sass/style.scss */
#login-container .button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #000B29;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
/* line 428, ../sass/style.scss */
#login-container .button:hover, #login-container .button:focus {
  background: #78C3AE;
}
/* line 432, ../sass/style.scss */
#login-container .button-block {
  display: block;
  width: 100%;
}
/* line 437, ../sass/style.scss */
#login-container .forgot {
  margin-top: -20px;
  text-align: right;
}

/* line 450, ../sass/style.scss */
.overview-content {
  padding: 35px;
}

/* line 456, ../sass/style.scss */
#overview-mainimg {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}

/* line 492, ../sass/style.scss */
.createorder-container *, .createorder-container *:before, .createorder-container *:after {
  box-sizing: border-box;
}
/* line 496, ../sass/style.scss */
.createorder-container html {
  overflow-y: scroll;
}
/* line 502, ../sass/style.scss */
.createorder-container a {
  text-decoration: none;
  color: #000000;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
/* line 508, ../sass/style.scss */
.createorder-container a:hover {
  color: #000000;
}
/* line 513, ../sass/style.scss */
.createorder-container .form {
  background: #000000;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}
/* line 518, ../sass/style.scss */
.createorder-container h1 {
  text-align: center;
  color: #000000;
  font-weight: 300;
  margin: 0 0 40px;
}
/* line 525, ../sass/style.scss */
.createorder-container label {
  position: absolute;
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
  left: 13px;
  color: #000000;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
/* line 537, ../sass/style.scss */
.createorder-container label .req {
  margin: 2px;
  color: #000000;
}
/* line 542, ../sass/style.scss */
.createorder-container label.active {
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
/* line 548, ../sass/style.scss */
.createorder-container label.active .req {
  opacity: 0;
}
/* line 552, ../sass/style.scss */
.createorder-container label.highlight {
  color: #58F8AB;
}
/* line 556, ../sass/style.scss */
.createorder-container input, .createorder-container textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #000000;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
/* line 569, ../sass/style.scss */
.createorder-container input:focus, .createorder-container textarea:focus {
  outline: 0;
  border-color: #58F8AB;
}
/* line 574, ../sass/style.scss */
.createorder-container textarea {
  border: 2px solid #000000;
  resize: vertical;
}
/* line 579, ../sass/style.scss */
.createorder-container .field-wrap {
  position: relative;
  margin-bottom: 40px;
}
/* line 585, ../sass/style.scss */
.createorder-container .button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #000B29;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
/* line 600, ../sass/style.scss */
.createorder-container .button:hover, .createorder-container .button:focus {
  background: #78C3AE;
}
/* line 604, ../sass/style.scss */
.createorder-container .button-block {
  display: block;
  width: 100%;
}

/* line 667, ../sass/style.scss */
.customeroverview-container #customeroverview-content {
  max-height: 200px;
}
