/* line 5, ../sass/style.scss */
.input-row {
  margin-top: 30px;
  margin-bottom: 20px;
}

/* line 55, ../sass/style.scss */
a {
  text-decoration: none;
  color: #78C3AE;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

/* line 62, ../sass/style.scss */
a:hover {
  color: #78C3AE;
}

/* line 67, ../sass/style.scss */
section {
  padding: 20px;
}

/* line 71, ../sass/style.scss */
footer {
  border-radius: 3px;
  border-color: #000;
  background-color: #FFFFFF;
  text-align: center;
  padding: 10px;
  border-top: 1px solid #CBCBCB;
}

/* line 80, ../sass/style.scss */
body {
  background-color: #FFFFFF !important;
}

/* line 97, ../sass/style.scss */
.topbar {
  border-color: #ffffff;
  background-color: #FFFFFF;
}

/* line 134, ../sass/style.scss */
.login-container *, .login-container *:before, .login-container *:after {
  box-sizing: border-box;
}
/* line 138, ../sass/style.scss */
.login-container html {
  overflow-y: scroll;
}
/* line 143, ../sass/style.scss */
.login-container a {
  text-decoration: none;
  color: #78C3AE;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
/* line 149, ../sass/style.scss */
.login-container a:hover {
  color: #78C3AE;
}
/* line 153, ../sass/style.scss */
.login-container .login-info {
  padding: 40px;
  margin: 40px auto;
  border-radius: 4px;
}
/* line 160, ../sass/style.scss */
.login-container .form {
  background: #FFFFFF;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}
/* line 165, ../sass/style.scss */
.login-container .tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
/* line 170, ../sass/style.scss */
.login-container .tab-group:after {
  content: "";
  display: table;
  clear: both;
}
/* line 175, ../sass/style.scss */
.login-container .tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
/* line 189, ../sass/style.scss */
.login-container .tab-group li a:hover {
  background: #78C3AE;
  color: #ffffff;
}
/* line 193, ../sass/style.scss */
.login-container .tab-group .active a {
  background: #000B29;
  color: #ffffff;
}
/* line 198, ../sass/style.scss */
.login-container .tab-content > div:last-child {
  display: none;
}
/* line 202, ../sass/style.scss */
.login-container h1 {
  text-align: center;
  color: #2F3131;
  font-weight: 300;
  margin: 0 0 40px;
}
/* line 209, ../sass/style.scss */
.login-container label {
  position: absolute;
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
/* line 221, ../sass/style.scss */
.login-container label .req {
  margin: 2px;
  color: #17949c;
}
/* line 226, ../sass/style.scss */
.login-container label.active {
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
/* line 232, ../sass/style.scss */
.login-container label.active .req {
  opacity: 0;
}
/* line 236, ../sass/style.scss */
.login-container label.highlight {
  color: #ffffff;
}
/* line 240, ../sass/style.scss */
.login-container input, .login-container textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #2F3131;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
/* line 253, ../sass/style.scss */
.login-container input:focus, .login-container textarea:focus {
  outline: 0;
  border-color: #17949c;
}
/* line 258, ../sass/style.scss */
.login-container textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}
/* line 263, ../sass/style.scss */
.login-container .field-wrap {
  position: relative;
  margin-bottom: 40px;
}
/* line 268, ../sass/style.scss */
.login-container .top-row:after {
  content: "";
  display: table;
  clear: both;
}
/* line 273, ../sass/style.scss */
.login-container .top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
/* line 278, ../sass/style.scss */
.login-container .top-row > div:last-child {
  margin: 0;
}
/* line 282, ../sass/style.scss */
.login-container .button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #000B29;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
/* line 297, ../sass/style.scss */
.login-container .button:hover, .login-container .button:focus {
  background: #78C3AE;
}
/* line 301, ../sass/style.scss */
.login-container .button-block {
  display: block;
  width: 100%;
}
/* line 306, ../sass/style.scss */
.login-container .forgot {
  margin-top: -20px;
  text-align: right;
}

/* line 319, ../sass/style.scss */
.overview-content {
  padding: 35px;
}

/* line 325, ../sass/style.scss */
#overview-mainimg {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}

/* line 349, ../sass/style.scss */
.createorder-container *, .createorder-container *:before, .createorder-container *:after {
  box-sizing: border-box;
}
/* line 353, ../sass/style.scss */
.createorder-container html {
  overflow-y: scroll;
}
/* line 359, ../sass/style.scss */
.createorder-container a {
  text-decoration: none;
  color: #78C3AE;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
/* line 365, ../sass/style.scss */
.createorder-container a:hover {
  color: #78C3AE;
}
/* line 370, ../sass/style.scss */
.createorder-container .form {
  background: #FFFFFF;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}
/* line 375, ../sass/style.scss */
.createorder-container h1 {
  text-align: center;
  color: #2F3131;
  font-weight: 300;
  margin: 0 0 40px;
}
/* line 382, ../sass/style.scss */
.createorder-container label {
  position: absolute;
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
/* line 394, ../sass/style.scss */
.createorder-container label .req {
  margin: 2px;
  color: #17949c;
}
/* line 399, ../sass/style.scss */
.createorder-container label.active {
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
/* line 405, ../sass/style.scss */
.createorder-container label.active .req {
  opacity: 0;
}
/* line 409, ../sass/style.scss */
.createorder-container label.highlight {
  color: #ffffff;
}
/* line 413, ../sass/style.scss */
.createorder-container input, .createorder-container textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #2F3131;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
/* line 426, ../sass/style.scss */
.createorder-container input:focus, .createorder-container textarea:focus {
  outline: 0;
  border-color: #17949c;
}
/* line 431, ../sass/style.scss */
.createorder-container textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}
/* line 436, ../sass/style.scss */
.createorder-container .field-wrap {
  position: relative;
  margin-bottom: 40px;
}
/* line 442, ../sass/style.scss */
.createorder-container .button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #000B29;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
/* line 457, ../sass/style.scss */
.createorder-container .button:hover, .createorder-container .button:focus {
  background: #78C3AE;
}
/* line 461, ../sass/style.scss */
.createorder-container .button-block {
  display: block;
  width: 100%;
}
