@import 'compass/css3';
@import 'variables.scss';


.input-row{
  margin-top:30px;
  margin-bottom:20px;

}

//================================================================================
// BOOTSTRAP OVERRIDES BEGINS
//================================================================================
//-----------------------------------------------------
// functional variables
//-----------------------------------------------------



                    //-----------------------------------------------------
                    //
                    //-----------------------------------------------------


        //================================================================================
        // BOOTSTRAP OVERRIDES ENDS
        //================================================================================






//================================================================================
// GENERAL ELEMENTS BEGINS
//================================================================================
//-----------------------------------------------------
// functional variables
//-----------------------------------------------------
          $general1-background:$white;
          $general1-hover:$neptune;
          $general1-links:$neptune;
          $general1-activetab:$night;
          $general1-button:$night;
          $general1-bodyback:$coal;
          $general1-textareaborder:$coal;
          $general1-textareafocus:$coal;
          $general1-tabgroupbackground: rgba(160, 179, 176, 0.25);
          $general1-headings:$coal;
          $general1-textarea:$coal;
                    //-----------------------------------------------------
                    //
                    //-----------------------------------------------------

a {
  text-decoration: none;
  color: $general1-links;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

a:hover {
  color: $general1-hover;
}


section{
padding:20px;

}

footer{
  border-radius: 3px;
  border-color:#000 ;
  background-color:$general1-background;
  text-align: center;
  padding:10px;
  border-top: 1px solid #CBCBCB;
}

body{
  background-color: $general1-background!important;
}





        //================================================================================
        // GENERAL ELEMENTS ENDS
        //================================================================================



//================================================================================
// BARS BEGINS
//================================================================================
.topbar {
     border-color: #ffffff ;
       background-color:  $white;
}




            //================================================================================
            // BARS ENDS
            //================================================================================

            //================================================================================
            // LANDING PAGE BEGINS
            //================================================================================
            //-----------------------------------------------------
            // functional variables
            //-----------------------------------------------------
                      $land1-button:$terracotta;
                      $land1-buttonshadow:$terracotta;
                      $login1-background:$white;
                      $login1-hover:$neptune;
                      $login1-links:$neptune;
                      $login1-activetab:$night;
                      $login1-button:$night;
                      $login1-bodyback:$coal;
                      $login1-textareaborder:$coal;
                      $login1-textareafocus:$coal;
                      $login1-tabgroupbackground: rgba(160, 179, 176, 0.25);
                      $login-headings:$coal;
                      $login-textarea:$coal;
                                //-----------------------------------------------------
                                //
                                //-----------------------------------------------------
            #landingpage-container{
              *, *:before, *:after {
                box-sizing: border-box;
              }

              html {
                overflow-y: scroll;
              }


              a {
                text-decoration: none;
                color: $login1-links;
                -webkit-transition: .5s ease;
                transition: .5s ease;
              }
              a:hover {
                color: $login1-hover;
              }

              .login-info{
               padding: 40px;
               margin: 40px auto;
               border-radius: 4px;
              }


              .form {
                background: $login1-background;
               box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
              }


              h1 {
                color: $login-headings;
                font-weight: 300;
                margin: 0 0 40px;
              }

              label {
                position: absolute;
                -webkit-transform: translateY(6px);
                        transform: translateY(6px);
                left: 13px;
                color: rgba(255, 255, 255, 0.5);
                -webkit-transition: all 0.25s ease;
                transition: all 0.25s ease;
                -webkit-backface-visibility: hidden;
                pointer-events: none;
                font-size: 22px;
              }
              label .req {
                margin: 2px;
                color: #17949c;
              }

              label.active {
                -webkit-transform: translateY(50px);
                        transform: translateY(50px);
                left: 2px;
                font-size: 14px;
              }
              label.active .req {
                opacity: 0;
              }

              label.highlight {
                color: #ffffff;
              }

              input, textarea {
                font-size: 22px;
                display: block;
                width: 100%;
                padding: 5px 10px;
                background: none;
                background-image: none;
                border: 1px solid #a0b3b0;
                color: $login-textarea;
                border-radius: 0;
                -webkit-transition: border-color .25s ease, box-shadow .25s ease;
                transition: border-color .25s ease, box-shadow .25s ease;
              }
              input:focus, textarea:focus {
                outline: 0;
                border-color: #17949c;
              }

              textarea {
                border: 2px solid #a0b3b0;
                resize: vertical;
              }


              .button {
	              background-color:$land1-button;
	              -moz-border-radius:4px;
	              -webkit-border-radius:4px;
	              border-radius:4px;
	              border:1px solid #ffffff;
	              display:inline-block;
	              cursor:pointer;
	              color:#ffffff;
	              font-size:17px;
	              padding:9px 29px;
	              text-decoration:none;
	              text-shadow:0px 1px 0px $land1-buttonshadow;
              }






              .button:hover {
              	background-color:$goldenthizz;
              }s
              .button:active {
              	position:relative;
              	top:1px;
              }

              .button-block {
                display: block;
                width: 100%;
              }

              .forgot {
                margin-top: -20px;
                text-align: right;
              }

#lpgreet{background-color:$white;}
#lpinfo{background-color:$bone;}



            }
                          //================================================================================
                          // LANDING PAGE ENDS
                          //================================================================================









//================================================================================
// LOGIN BEGINS
//================================================================================
//-----------------------------------------------------
// functional variables
//-----------------------------------------------------
          $login1-background:$white;
          $login1-hover:$neptune;
          $login1-links:$neptune;
          $login1-activetab:$night;
          $login1-button:$night;
          $login1-bodyback:$coal;
          $login1-textareaborder:$coal;
          $login1-textareafocus:$coal;
          $login1-tabgroupbackground: rgba(160, 179, 176, 0.25);
          $login-headings:$coal;
          $login-textarea:$coal;
                    //-----------------------------------------------------
                    //
                    //-----------------------------------------------------
                    .panel{
                    margin:50px !important;
                    }



#login-container{


  *, *:before, *:after {
    box-sizing: border-box;
  }

  html {
    overflow-y: scroll;
  }


  a {
    text-decoration: none;
    color: $login1-links;
    -webkit-transition: .5s ease;
    transition: .5s ease;
  }
  a:hover {
    color: $login1-hover;
  }

  .login-info{
   padding: 40px;
   margin: 40px auto;
   border-radius: 4px;
  }


  .form {
    background: $login1-background;
   box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  }


  h1 {
    text-align: center;
    color: $login-headings;
    font-weight: 300;
    margin: 0 0 40px;
  }

  label {
    position: absolute;
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
    left: 13px;
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px;
  }
  label .req {
    margin: 2px;
    color: #17949c;
  }

  label.active {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    left: 2px;
    font-size: 14px;
  }
  label.active .req {
    opacity: 0;
  }

  label.highlight {
    color: #ffffff;
  }

  input, textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: $login-textarea;
    border-radius: 0;
    -webkit-transition: border-color .25s ease, box-shadow .25s ease;
    transition: border-color .25s ease, box-shadow .25s ease;
  }
  input:focus, textarea:focus {
    outline: 0;
    border-color: #17949c;
  }

  textarea {
    border: 2px solid #a0b3b0;
    resize: vertical;
  }

  .field-wrap {
    position: relative;
    margin-bottom: 40px;
  }


  .button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: $login1-button;
    color: #ffffff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
  }



  .button:hover, .button:focus {
    background: $login1-hover;
  }

  .button-block {
    display: block;
    width: 100%;
  }

  .forgot {
    margin-top: -20px;
    text-align: right;
  }
}
              //================================================================================
              // LOGIN ENDS
              //================================================================================


//================================================================================
// OVERVIEW BEGINS
//================================================================================
.overview-content{
padding:35px;
}



#overview-mainimg {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}
              //================================================================================
              // OVERVIEW ENDS
              //================================================================================


              //================================================================================
              // CREATE ORDER BEGINS
              //================================================================================
              //-----------------------------------------------------
              // functional variables
              //-----------------------------------------------------
              $co1-inputborder:#a0b3b0;
              $co1-label:#000000;
              $co1-links:#000000;
              $co1-formbox-shadow:rgba(19, 35, 47, 0.3);
              $co1-hoverlinks:#000000;
              $co1-formbackground:#000000;
               $co1-headings:#000000;
              $co1-labelreq:#000000;
              $co1-labelhighlight:$aquamarine;
              $co1-textarea:#000000;
              $co1-focus:$aquamarine;
              $co1-textareaborder:#000000;
              $co1-buttonbackground:$night;
              $co1-buttoncolour:#ffffff;
              $co1-buttonhover:$login1-hover;
                                              //-----------------------------------------------------
                                  //
                                  //-----------------------------------------------------
                                  .createorder-container{
                                    *, *:before, *:after {
                                      box-sizing: border-box;
                                    }

                                    html {
                                      overflow-y: scroll;
                                    }



                                    a {
                                      text-decoration: none;
                                      color: $co1-links;
                                      -webkit-transition: .5s ease;
                                      transition: .5s ease;
                                    }
                                    a:hover {
                                      color: $co1-hoverlinks;
                                    }


                                    .form {
                                      background: $co1-formbackground;
                                     box-shadow: 0 4px 10px 4px $co1-formbox-shadow;
                                    }

                                    h1 {
                                      text-align: center;
                                      color: $co1-headings;
                                      font-weight: 300;
                                      margin: 0 0 40px;
                                    }

                                    label {
                                      position: absolute;
                                      -webkit-transform: translateY(6px);
                                              transform: translateY(6px);
                                      left: 13px;
                                      color: $co1-label;
                                      -webkit-transition: all 0.25s ease;
                                      transition: all 0.25s ease;
                                      -webkit-backface-visibility: hidden;
                                      pointer-events: none;
                                      font-size: 22px;
                                    }
                                    label .req {
                                      margin: 2px;
                                      color: $co1-labelreq;
                                    }

                                    label.active {
                                      -webkit-transform: translateY(50px);
                                              transform: translateY(50px);
                                      left: 2px;
                                      font-size: 14px;
                                    }
                                    label.active .req {
                                      opacity: 0;
                                    }

                                    label.highlight {
                                      color: $co1-labelhighlight;
                                    }

                                    input, textarea {
                                      font-size: 22px;
                                      display: block;
                                      width: 100%;
                                      padding: 5px 10px;
                                      background: none;
                                      background-image: none;
                                      border: 1px solid $co1-inputborder;
                                      color: $co1-textarea;
                                      border-radius: 0;
                                      -webkit-transition: border-color .25s ease, box-shadow .25s ease;
                                      transition: border-color .25s ease, box-shadow .25s ease;
                                    }
                                    input:focus, textarea:focus {
                                      outline: 0;
                                      border-color: $co1-focus;
                                    }

                                    textarea {
                                      border: 2px solid $co1-textareaborder;
                                      resize: vertical;
                                    }

                                    .field-wrap {
                                      position: relative;
                                      margin-bottom: 40px;
                                    }


                                    .button {
                                      border: 0;
                                      outline: none;
                                      border-radius: 0;
                                      padding: 15px 0;
                                      font-size: 2rem;
                                      font-weight: 600;
                                      text-transform: uppercase;
                                      letter-spacing: .1em;
                                      background: $co1-buttonbackground;
                                      color: $co1-buttoncolour;
                                      -webkit-transition: all 0.5s ease;
                                      transition: all 0.5s ease;
                                      -webkit-appearance: none;
                                    }
                                    .button:hover, .button:focus {
                                      background: $co1-buttonhover;
                                    }

                                    .button-block {
                                      display: block;
                                      width: 100%;
                                    }
                                  }
                      //================================================================================
                      // CREATE ORDER ENDS
                      //================================================================================

                      //================================================================================
                      // VIEW GROUPS BEGINS
                      //================================================================================
                      //-----------------------------------------------------
                      // functional variables
                      //-----------------------------------------------------



                                          //-----------------------------------------------------
                                          //
                                          //-----------------------------------------------------


                              //================================================================================
                              // VIEW GROUPS ENDS
                              //================================================================================


                              //================================================================================
                              // PROFILE BEGINS
                              //================================================================================
                              //-----------------------------------------------------
                              // functional variables
                              //-----------------------------------------------------



                                                  //-----------------------------------------------------
                                                  //
                                                  //-----------------------------------------------------


                                      //================================================================================
                                      // PROFILE ENDS
                                      //================================================================================




                                      //================================================================================
                                      // CUSTOMER OVERVIEW BEGINS
                                      //================================================================================
                                      //-----------------------------------------------------
                                      // functional variables
                                      //-----------------------------------------------------



                                                          //-----------------------------------------------------
                                                          //
                                                          //-----------------------------------------------------
.customeroverview-container{

#customeroverview-content{
  max-height: 200px;
}










                                              }//================================================================================
                                              // CUSTOMER OVERVIEW ENDS
                                              //================================================================================
